@model IEnumerable<Lab2EDI_1C18.Models.Entero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
        @Html.ActionLink("Create New", "Create")<br />
        @Html.ActionLink("Ver Recorrido EnOrden", "IndexIn")<br />
        @Html.ActionLink("Ver Recorrido PreOrden", "IndexPre")<br />
        @Html.ActionLink("Ver Recorrido PostOrden", "IndexPost")<br />
    <br />
    <br />
    <br />
    <span style="color:green">@ViewBag.Tipo</span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>          
            @Html.ActionLink("Delete", "Delete", new { id=item.valor  })
        </td>
    </tr>
}

</table>
