@{
    ViewBag.Title = "Laboratorio 2";
}

<div class="jumbotron">
    <h1>Laboratorio 2</h1>
    <p class="lead">Erick Fabian Alvarez Franco 1070117</p>
    <p class="lead">Erick Eduardo Contreras Gomez 1009017</p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Insertar datos manuales</h2>
        <p>@Html.ActionLink("Insertar enteros", "Create", "Entero")</p>
        <p>@Html.ActionLink("Insertar cadenas", "Create", "Cadena")</p>
        <p>@Html.ActionLink("Insertar paises", "Create", "Pais")</p>
    </div>
    <div class="col-md-4">
        <h2>Insertar con archivo</h2>
        <p>@Html.ActionLink("Insertar enteros", "Create", "CargaEntero")</p>       
        <p>@Html.ActionLink("Insertar paises", "Create", "CargaPais")</p>
    </div>
    <div class="col-md-4">
        <h2>Recorridos</h2>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Paises manual", "IndexIn", "Pais")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Paises manual", "IndexPre", "Pais")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Paises manual", "IndexPost", "Pais")</p>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Entero manual", "IndexIn", "Entero")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Entero manual", "IndexPre", "Entero")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Entero manual", "IndexPost", "Entero")</p>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Cadena", "IndexIn", "Cadena")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Cadena", "IndexPre", "Cadena")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Cadena", "IndexPost", "Cadena")</p>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Paises Json", "IndexIn", "CargaPais")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Paises Json", "IndexPre", "CargaPais")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Paises Json", "IndexPost", "CargaPais")</p>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Entero Json", "IndexIn", "CargaEntero")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Entero Json", "IndexPre", "CargaEntero")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Entero Json", "IndexPost", "CargaEntero")</p>
     </div>
</div>