@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Insertar datos manuales</h2>
        <p>@Html.ActionLink("Insertar enteros", "Create", "Entero")</p>
        <p>@Html.ActionLink("Insertar cadenas", "Create", "Cadena")</p>
        <p>@Html.ActionLink("Insertar paises", "Create", "Pais")</p>
    </div>
    <div class="col-md-4">
        <h2>Insertar con archivo</h2>
    </div>
    <div class="col-md-4">
        <h2>Recorridos</h2>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Paises manual", "IndexIn", "Pais")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Paises manual", "IndexPre", "Pais")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Paises manual", "IndexPost", "Pais")</p>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Entero manual", "IndexIn", "Entero")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Entero manual", "IndexPre", "Entero")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Entero manual", "IndexPost", "Entero")</p>
        <p>@Html.ActionLink("Ver Recorrido EnOrden Cadena", "IndexIn", "Cadena")</p>
        <p>@Html.ActionLink("Ver Recorrido PreOrden Cadena", "IndexPre", "Cadena")</p>
        <p>@Html.ActionLink("Ver Recorrido PostOrden Cadena", "IndexPost", "Cadena")</p>
     </div>
</div>